.login-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-page h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input,
.login-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 70px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background:  #ff6f61;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background:  #ff6f75
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.success-msg {
  text-align: center;
  color: green;
  font-weight: bold;
}
